# use glob syntax.
#syntax: glob

.*
!.gitignore
*.pyc
*.pyo
*~
#*
*.1
*.bak
*.bak2
*.svn
*.w2p
*.class
*.rej
*.orig
Thumbs.db
.DS_Store
index.yaml
routes.py
logging.conf
src/web2py/gluon/tests/VERSION
src/web2py/gluon/tests/sql.log
src/web2py/httpserver.log
src/web2py/httpserver.pid
src/web2py/parameters*.py
src/web2py/deposit
src/web2py/benchmark
src/web2py/build
src/web2py/dist*
src/web2py/dummy_tests
src/web2py/optional_contrib
src/web2py/ssl
src/web2py/docs
src/web2py/logs
src/web2py/*.zip
src/web2py/gluon/*.1
src/web2py/gluon/*.txt
src/web2py/admin.w2p
src/web2py/examples.w2p

databases/*
sessions/*
errors/*
cache/*
private/*
